Game/AdamsLair.WinForms.dll
Game/AdamsLair.WinForms.pdb
Game/AdamsLair.WinForms.xml
Game/Aga.Controls.dll
Game/Aga.Controls.pdb
Game/AppData.dat
Game/DDoc.chm
Game/Data/WorkingFolderIcon.ico
Game/Data/desktop.ini
Game/Duality.pdb
Game/Duality.xml
Game/DualityEditor.pdb
Game/DualityEditor.xml
Game/DualityLauncher.exe
Game/DualityLauncher.exe.config
Game/DualityLauncher.pdb
Game/DualityPrimitives.XML
Game/DualityPrimitives.pdb
Game/DualityUpdater.exe
Game/EditorUserData.xml
Game/FarseerDuality.dll
Game/FarseerDuality.pdb
Game/FarseerDuality.xml
Game/Microsoft.Web.XmlTransform.dll
Game/NVorbis.XML
Game/NVorbis.dll
Game/OpenTK.GLControl.dll
Game/OpenTK.GLControl.xml
Game/OpenTK.dll
Game/OpenTK.dll.config
Game/OpenTK.pdb
Game/OpenTK.xml
Game/Plugins/CamView.editor.dll
Game/Plugins/CamView.editor.pdb
Game/Plugins/Compatibility.core.dll
Game/Plugins/Compatibility.core.pdb
Game/Plugins/DefaultOpenTKBackend.core.dll
Game/Plugins/DefaultOpenTKBackend.core.pdb
Game/Plugins/DefaultOpenTKBackend.editor.dll
Game/Plugins/DefaultOpenTKBackend.editor.pdb
Game/Plugins/DotNetFrameworkBackend.core.dll
Game/Plugins/DotNetFrameworkBackend.core.pdb
Game/Plugins/EditorBase.editor.dll
Game/Plugins/EditorBase.editor.pdb
Game/Plugins/HelpAdvisor.editor.dll
Game/Plugins/HelpAdvisor.editor.pdb
Game/Plugins/LogView.editor.dll
Game/Plugins/LogView.editor.pdb
Game/Plugins/ObjectInspector.editor.dll
Game/Plugins/ObjectInspector.editor.pdb
Game/Plugins/OpenALSoft32.dll
Game/Plugins/OpenALSoft64.dll
Game/Plugins/PackageManagerFrontend.editor.dll
Game/Plugins/PackageManagerFrontend.editor.pdb
Game/Plugins/ProjectView.editor.dll
Game/Plugins/ProjectView.editor.pdb
Game/Plugins/SceneView.editor.dll
Game/Plugins/SceneView.editor.pdb
Game/PopupControl.dll
Game/PopupControl.pdb
Game/Source/Packages/
Game/logfile_editor.txt
Game/logfile_editor_prev.txt
Game/perflog_editor.txt
Game/WeifenLuo.WinFormsUI.Docking.dll
Game/WeifenLuo.WinFormsUI.Docking.pdb
Game/DesignTimeData.dat
